<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joke</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">

    <style>
        :root{
            --red: #FF204E;
            --dark-red: #A0153E;
            --maroon: #5D0E41;
            --shade: #00224D;
        }
        *{
            margin: 0;
            padding: 0%;
            box-sizing: border-box;

            font-family: "Oswald", sans-serif;
            font-optical-sizing: auto;
            font-weight: 500;
            font-style: normal;

            text-align: center;
        }

        

        .container{
            height: 100vh;
            width: 100vw;
            background-color: var(--red);
            display: flex;
            align-items: center;
            justify-content: center;

            background: linear-gradient(300deg, var(--red), var(--dark-red), var(--maroon));
            background-size: 180% 180%;
            animation: gradient-animation 10s ease infinite;
        }

        @keyframes gradient-animation {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }

        .box{
            background-color: var(--shade);
            color: white;
            border-radius: 25px;
            padding: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            max-width: 50%;

            transition: all;
            transition-duration: 0.5s;
        }

        .box:hover {
            transform: scale(1.1);
            box-shadow: 0px 0px 10px;

            animation: shadow-animation 1s linear infinite;
            
        }

        @keyframes shadow-animation {
            0% {
                box-shadow: 2px 2px  3px;
            }

            25% {
                box-shadow: -2px 2px  3px;
            }

            50% {
                box-shadow: -2px -2px  3px;
            }

            75% {
                box-shadow: 2px -2px  3px;
            }

            100% {
                box-shadow: 2px 2px 3px;
            }

        }

        input{
            border: 0;
            background-color: var(--red);
            color: white;
            padding: 15px;
            font-size: 2rem;
            border-radius: 25px;
            margin-bottom: 15px;

            transition: all;
            transition-duration: 0.5s;
        }

        input:hover {
            border: 1px solid var(--red);
            background-color: white;
            color: var(--red);
            transform: scale(1.1);
        }
        
    </style>
</head>

<body>
    <div class="container">
        <div class="box">
            <form action="/joke" method="get">
                <input type="submit" value="Tell Me A Joke">
            </form>
            
            <%if(locals.joke){%>
                <h1><%= joke %></h1>
            <% } else if (locals.setup) {%>
                <h1><%= setup %></h1>
                <h1><%= delivery %></h1>
            <% } %>

        </div>
        

    </div>
    
    
</body>
</html>